<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="logo" style="text-align:center">

    <img src="../public/logo.png" alt="Logo" style="float: center" width="200" height="200" />
    <header class="title">ONGAMDOCK</header>
  </div>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input class="txt" id="email" type="text" placeholder="이메일" />
        <input class="txt" id="password" type="password" placeholder="비밀번호" />
        <p id="button">login</p>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
      </form>
    </div>
  </div>
</body>


<script src="/public/login.js"></script>

</html>