<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnGamDock</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    
</head>
<body>
    <header>ONGAMDOCK</header>
    <main>
        <div>
            <video id="localvideo" autoplay playsinline width="400" height="400 muted"></video>
        </div>
        <div id="streams"></div>
        <div>
            <button id="student">student</button>
            <button id="professor">professor</button>
        </div>
    </main>


    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="/public/manager.js"></script>
</body>
</html>
