<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
    <div class="logo" style="text-align:center">

        <img src="../public/logo.png" alt="Logo" style="float: center; width : 500px; height : 200; margin-top: 50px; margin-bottom: 50px;" />
      </div>
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input id="name" class="txt" type="text" placeholder="이름" />
                <input id="email" class="txt" type="text" placeholder="이메일" />
                <input id="password" class="txt" type="password" placeholder="비밀번호" />
                <input id="confirm-password" class="txt" type="password" placeholder="비밀번호 확인" />
                
                <div class="radio-wrap">
                    <input class="radio" type="radio" name="job" value="professor" > Professor
                    <input class="radio" type="radio" name="job" value="student" checked> Student
                </div>



                <p id="button">sign up</p>
                <p class="message">Already registered? <a href="login">Sign In</a></p>
            </form>
        </div>
    </div>
</body>


<script src="/public/register.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>

</html>